Задание 1
Дан список вида:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35],
]

Напишите функцию, которая возвращает сумму элементов на диагонали. Т. е. 13+32+23+35.

In [6]:
def diag_sum (data_in):
    cnt = 0
    summ = 0
    for i in data_in:
        summ += i[cnt]
        cnt += 1
    return summ

In [8]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]
diag_sum(data)

103

Задание 2
Дан список чисел, часть из которых имеют строковый тип или содержат буквы. Напишите функцию, которая возвращает сумму квадратов элементов, которые могут быть числами.
data = [1, '5', 'abc', 20, '2']

In [18]:
float(1)

1.0

In [27]:
data = [1, '5', 'abc', 20, '2']

In [28]:
def is_float (a):
    try:
        float(a)
        return True
    except ValueError:
        return False
def sqr_sum (data_in):
    data_float = [float(i) for i in data_in if is_float(i)==True ]
    return sum(map(lambda x:x*x,data_float))

In [29]:
sqr_sum(data)

430.0

Задание 3
Напишите функцию, которая возвращает название валюты (поле 'Name') с максимальным значением курса с помощью сервиса https://www.cbr-xml-daily.ru/daily_json.js