Задание 1
Напишите функцию date_range, которая возвращает список дней между датами start_date и end_date. Даты должны вводиться в формате YYYY-MM-DD.

In [8]:
from datetime import datetime
from datetime import timedelta

In [15]:
def date_range (start_dt, end_dt):
    st_dt = datetime.strptime( start_dt, '%Y-%m-%d')
    en_dt = datetime.strptime( end_dt, '%Y-%m-%d')
    st = st_dt
    while st <= en_dt:
        print(st.strftime('%Y-%m-%d'))
        st += timedelta(days=1)

In [16]:
date_range('2018-10-01','2018-10-10')

2018-10-01
2018-10-02
2018-10-03
2018-10-04
2018-10-05
2018-10-06
2018-10-07
2018-10-08
2018-10-09
2018-10-10


Задание 2
Дополните функцию из первого задания проверкой на корректность дат. В случае неверного формата или если start_date > end_date должен возвращаться пустой список.

In [25]:
def date_range (start_dt, end_dt):
    if start_dt > end_dt:
        return []
        
    else:
        try:
            st_dt = datetime.strptime( start_dt, '%Y-%m-%d')
        except ValueError:
            return []
            
        try:
            en_dt = datetime.strptime( end_dt, '%Y-%m-%d')
        except ValueError:
            return []
    st = st_dt
    day_lst = []
    while st <= en_dt:
        day_lst.append(st.strftime('%Y-%m-%d'))
        st += timedelta(days=1)
    return day_lst

In [31]:
date_range('2018-10-01','2018-10-10')

['2018-10-01',
 '2018-10-02',
 '2018-10-03',
 '2018-10-04',
 '2018-10-05',
 '2018-10-06',
 '2018-10-07',
 '2018-10-08',
 '2018-10-09',
 '2018-10-10']

In [28]:
date_range('2018-10-01','2018-10-44')

[]

In [29]:
date_range('2018-10-44','2018-10-10')

[]

In [30]:
date_range('2018-10-10','2018-10-01')

[]


Задание 3
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [32]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [35]:
def is_date_correct(list_in):
    list_out = []
    for each in list_in:
        try:
            datetime.strptime( each, '%Y-%m-%d')
            list_out.append(True)
        except ValueError:
            list_out.append(False)
    return list_out

In [36]:
is_date_correct(stream)

[True, False, False]


Задание 4
Напишите функцию, которая возвращает список дат с 1 по вчерашний день текущего месяца. Если дан 1 день месяца, то возвращается список дней прошлого месяца.

In [80]:
def month_dt (date_in = datetime.strftime(datetime.now().date(),'%Y-%m-%d')):
    date_in = datetime.strptime(date_in,'%Y-%m-%d' )
    if date_in.day == 1:
        first_dt = (date_in.replace(day=1) - timedelta(days=1)).replace(day=1)
    else:
        first_dt = date_in.replace(day=1)
    each_dt = first_dt
    list_out=[]
    while each_dt < date_in:
        list_out.append(datetime.strftime(each_dt,'%Y-%m-%d'))
        each_dt += timedelta(days=1)
    return list_out

In [82]:
month_dt('2018-12-01')

['2018-11-01',
 '2018-11-02',
 '2018-11-03',
 '2018-11-04',
 '2018-11-05',
 '2018-11-06',
 '2018-11-07',
 '2018-11-08',
 '2018-11-09',
 '2018-11-10',
 '2018-11-11',
 '2018-11-12',
 '2018-11-13',
 '2018-11-14',
 '2018-11-15',
 '2018-11-16',
 '2018-11-17',
 '2018-11-18',
 '2018-11-19',
 '2018-11-20',
 '2018-11-21',
 '2018-11-22',
 '2018-11-23',
 '2018-11-24',
 '2018-11-25',
 '2018-11-26',
 '2018-11-27',
 '2018-11-28',
 '2018-11-29',
 '2018-11-30']

In [83]:
month_dt()

['2018-12-01',
 '2018-12-02',
 '2018-12-03',
 '2018-12-04',
 '2018-12-05',
 '2018-12-06',
 '2018-12-07']


Задание 5
Напишите функцию, которая возвращает точную дату в формате YYYY-MM-DD по фразе:
1. 'today' - сегодняшнюю дату
2. 'last monday' -  прошлый понедельник
3. 'last day' - Последний день текущего месяца

In [43]:
def last_day_of_month(any_day):
    next_month = any_day.replace(day=28) + timedelta(days=4) 
    return next_month - timedelta(days=next_month.day)
def last_monday(any_day):
    return any_day - timedelta(days=any_day.weekday())
def date_from_word (word_in):
    now = datetime.now()
    if word_in == 'today':
        return datetime.strftime(now,'%Y-%m-%d')
    elif word_in == 'last monday':
        return datetime.strftime(last_monday(now),'%Y-%m-%d')
    elif word_in == 'last day':
        return datetime.strftime(last_day_of_month(now),'%Y-%m-%d')

In [44]:
date_from_word('today')

'2018-12-06'

In [52]:
date_from_word('last monday')

'2018-12-03'

In [46]:
date_from_word('last day')

'2018-12-31'

Задание 6
Напишите функцию, которая разбивает на недели с понедельника по воскресенье интервал дат между start_date и end_date. Считайте, что входные данные всегда корректны. В ответ должны входить только полные недели.

In [123]:
def dt_range_2_week_list (st, end):
    st_dt = datetime.strptime(st, '%Y-%m-%d')
    end_dt = datetime.strptime(end, '%Y-%m-%d')
    if st_dt.weekday() ==0:
        st_monday_dt = st_dt
    else:
        st_monday_dt = st_dt + timedelta(days=(7-st_dt.weekday()))
    if end_dt.weekday()==6:
        end_sunday_dt=end_dt
    else:
        end_sunday_dt=end_dt - timedelta(days=(1+end_dt.weekday()))
    if end_sunday_dt < st_monday_dt:
        total_weeks_none=[]
        return (total_weeks_none)
    else:
        total_weeks = (end_sunday_dt-st_monday_dt+timedelta(days=1)).days / 7
        dt = st_monday_dt
        total_list =[]
        week_list=[]
        while dt <= end_sunday_dt:
            dt_str = datetime.strftime(dt,'%Y-%m-%d')
            week_list.append(dt_str)
            if dt.weekday() == 6:
                total_list.append(week_list)
                week_list=[]
            dt+=timedelta(days=1)
        return total_list

In [125]:
dt_range_2_week_list('2018-01-01','2018-02-01')

[['2018-01-01',
  '2018-01-02',
  '2018-01-03',
  '2018-01-04',
  '2018-01-05',
  '2018-01-06',
  '2018-01-07'],
 ['2018-01-08',
  '2018-01-09',
  '2018-01-10',
  '2018-01-11',
  '2018-01-12',
  '2018-01-13',
  '2018-01-14'],
 ['2018-01-15',
  '2018-01-16',
  '2018-01-17',
  '2018-01-18',
  '2018-01-19',
  '2018-01-20',
  '2018-01-21'],
 ['2018-01-22',
  '2018-01-23',
  '2018-01-24',
  '2018-01-25',
  '2018-01-26',
  '2018-01-27',
  '2018-01-28']]

In [126]:
dt_range_2_week_list('2018-01-01','2017-02-01')

[]